h1, h2, h3, p, li {font-family: Fira Sans, Myriad,Arial;}
h1 {font-size: 30px;}
h2 {font-size: 24px;}
code {font-family:Consolas,monaco,monospace; background-color: #ffffff; }
pre.r code {font-family:Consolas,monaco,monospace;}